@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);

  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-nunito);

  --color-neutral-10: var(--neutral-10);
  --color-neutral-20: var(--neutral-20);
  --color-neutral-40: var(--neutral-40);
  --color-neutral-70: var(--neutral-70);
  --color-neutral-60: var(--neutral-60);
  --color-neutral-90: var(--neutral-90);
  --color-neutral-100: var(--neutral-100);
  --color-success-main: var(--success-main);
  --color-danger-main: var(--danger-main);
  --color-primary-main: var(--primary-main);
  --color-secondary-main: var(--secondary-main);
}

:root {
  --background: oklch(1 0 0);

  --neutral-10: oklch(1 0 0);
  --neutral-20: oklch(0.9851 0 0);
  --neutral-40: oklch(0.9067 0 0);
  --neutral-70: oklch(0.5624 0 0);
  --neutral-60: oklch(0.6993 0 0);
  --neutral-90: oklch(0.3715 0 0);
  --neutral-100: oklch(0.2376 0.0036 228.95);
  --danger-main: oklch(0.5781 0.2273 25.33);
  --success-main: oklch(0.602 0.0997 160);
  --primary-main: oklch(0.6104 0.1038 203.2);
  --secondary-main: oklch(0.8397 0.1572 83.55);
}

@layer base {
  body {
    @apply bg-background text-neutral-90 font-sans;
  }
}
